{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content %}

    <div id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         class="modal fade">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="exampleModalLabel" class="modal-title">Customer Login</h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <div class="form-group">
                            <input id="email_modal" type="text" placeholder="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input id="password_modal" type="password" placeholder="password" class="form-control">
                        </div>
                        <p class="text-center">
                            <button type="button" class="btn btn-outline-white-primary"><i class="fa fa-sign-in"></i>
                                Log in
                            </button>
                        </p>
                    </form>
                    <p class="text-center text-muted">Not registered yet?</p>
                    <p class="text-center text-muted"><a href="client-register.html"><strong>Register now</strong></a>!
                        It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- *** LOGIN MODAL END ***-->
    <section class="job-form-section job-form-section--image">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="job-form-box">
                        <h2 class="heading">Find a <span class="accent">job</span> you will
                            <span class="accent">love</span>.
                        </h2>
                        <form id="job-main-form" method="get" action="{% url 'jobs:searh' %}" class="job-main-form">
                            <div class="controls">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="profession">Position</label>
                                            <input type="text" id="profession" name="position"
                                                   placeholder="Position you are looking for" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="location">Location</label>
                                            <input type="text" id="location" name="location"
                                                   placeholder="Any particular location?" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit"
                                                class="btn btn-outline-white-primary job-main-form__button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light-gray" style="background-color: lightgrey;">
        <div class="container" >
            <h3 class="heading">Featured jobs</h3>
            <div class="row featured align-items-stretch">
                {% for job in jobs %}
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="box-image-text bg-visible full-height">
                            <div class="top">
                                <a href="#">
                                    <div class="image">
                                        <img src="{% static 'img/featured1.jpg' %}" alt="" class="img-fluid">
                                    </div>
                                    <div class="bg"></div>
                                    <div class="logo">
                                        <img src="{% static 'img/company.png' %}" alt="" style="max-width: 200px;">
                                    </div>
                                </a>
                            </div>
                            <div class="content">
                                <h5><a href="{% url 'jobs:jobs-detail' job.id %}">{{ job.title }}</a></h5>
                                <p class="featured__details"><i class="fa fa-map-marker job__location"></i>
                                    {{ job.location }}
                                    {% if job.type == '1' %}
                                        <span class="badge featured-badge badge-success">Full time</span>
                                    {% elif job.type == '2' %}
                                        <span class="badge featured-badge badge-primary">Part time</span>
                                    {% else %}
                                        <span style="color: #ffffff;" class="badge featured-badge badge-warning">Internship</span>
                                    {% endif %}
                                </p>
                                <p>{{ job.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section style="background-color: whitesmoke;">
        <div class="container">
            <h4 class="heading">Our Guide</h4>
           <h3> Here’s our guide to the 5 types of work personalities in every business:
            high achievers</h3>
                
                <p>Love them or hate them, high achievers are those talented, aspiring individuals whose main goal in life is to work hard, and get ahead. These are the persistent, single-minded (sometimes ruthless) people who strive for career success in every industry. Their top personality traits can be defined as: ambitious, innovative, flexible, energetic, natural born leaders …And a tendency to be ruthless  Roles you’ll find them in: Executives, General Managers, Politicians, Business Development, Entrepreneurs, high level job roles such as CEO’s. 
                mr or ms dependable
                
                Often described as the most conscientious of all, these workers are known for playing by the rules, turning up on time every day, persevering with difficult tasks and making long detailed lists of things to do. Their top personality traits can be defined as: well organised, dependable, attention to detail, meticulous …And a little boring. Roles you’ll find them in: Accounting, Administration, Social Workers, Nurses, Office Managers, Police/Law Enforcement, Surveyors.
                the social butterfly
                
                These bubbly, friendly personalities love to work as part of a team rather than by themselves, and actively take an interest in colleagues on a personal level. Often hyper-sensitive to the needs of others, they’re the person most likely to lend a shoulder to cry on if you’re having a rough day at work. Their top personality traits can be defined as: outgoing, democratic, sensitive, approachable …And the office gossip! Roles you’ll find them in: Actors, Account Managers, Marketing & Communications, Social Media, Public Relations, ITes and BPO jobs.
                original thinkers
                
                
                Workers in this category are known for their big picture ideas, insightful approach to problem solving, and imaginative concepts. Highly analytical, these people are the first to speak up during brain storming sessions and need to keep a pen handy at all times to draw diagrams to illustrate their point. Their top personality traits can be defined as: innovative, creative, visionary, quirky and ..a little nosy. Roles you’ll find them in: Scientists, Psychologists, Consultants, Inventors, Advertising Executives
                Switzerland (aka the fence-sitters)
                
                Like their namesake country Switzerland, these people remain neutral at all odds and despite the bland insinuation, workers who fall in this category are essential for keeping the peace in every working environment. Though rarely chosen for recognition or reward, these fence-sitters are most likely to speak up about the limitations of projects and their presence often brings calm to any volatile situations. Their top personality traits can be defined as: calm, composed, diligent, trustworthy …And a total know-it-all. Roles you’ll find them in: CFOs, Treasurers, Auditing Professionals, Stock Brokers, computer programmers and developers.
                
                Obviously no one will ever completely to fit into any one category, but you're likely to find aspects of each type in any office. Which category do you fit into? Which personality do you think is the best to have in a work colleague, and which would you prefer to do without?</p>
            {% for trending in trendings %}
                <div class="job-listing  job-listing--last">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col-2">
                                    <img src="{% static 'img/company-1.png' %}"
                                         alt="ShareBoardd " class="img-fluid">
                                </div>
                                <div class="col-10">
                                    <h4 class="job__title">
                                        <a href="{% url 'jobs:jobs-detail' trending.id %}">{{ trending.title }}</a>
                                    </h4>
                                    <p class="job__company">
                                        {{ trending.company_name }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 col-md-3 col-lg-2 ml-auto"><i class="fa fa-map-marker job__location"></i>
                            {{ trending.location }}
                        </div>
                        <div class="col-10 col-md-3 col-lg-3 ml-auto">
                            <p>Posted {{ trending.created_at|timesince }}</p>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-1">
                            <div class="job__star">
                                <a href="#" data-toggle="tooltip" data-placement="top"
                                   title="Save to favourites" class="job__star__link">
                                    <i class="fa fa-star"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section style="background-image: url({% static 'img/startup.jpg' %}); " class="section-divider">
        <div class="overlay"style="background-color: grey;"></div>
        <div class="container" >
            <div class="row" >
                <div class="col-lg-12 text-center" >
                    <p>Start searching for your new job now! </p>
                    <p><a href="{% url 'jobs:jobs' %}" class="btn btn-outline-light">See our job offers </a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}